// perform the basic reset

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  padding: 10rem 10rem;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  scroll-behavior: smooth;
}
